{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>Ecommerce-Product</title>
{% include 'userpage/header.html' %}
{% endblock %}


{% block main-content %}

<!-- start of cart section  -->


<div class="container">
    <div class="row d-flexjustify-content-center">
        {% for msg in messages %}

        {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success" >
            {{msg}}
        </div>
        {% endif %}

        {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger" >
            {{msg}}
        </div>
        {% endif %}

        {% endfor %}
        {% if cart %}
        <h2>Cart</h2>
        <hr>
        <table class="table table-bordered tabl-striped my-4">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Product Image</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                <tr>
                    <td>{{item.product.project_name}}</td>
                    <td>{{item.product.product_price}}</td>
                    <td><img src="/{{item.product.product_image}}" alt="{{item.product.project_name}}" width="100"></td>
                    <td>
                        <a href="/order/{{item.product.id}}/{{item.id}}" class="btn btn-warning">Order Now</a>
                        <a href="/deletecartitem/{{item.id}}" class="btn btn-danger" onclick="return confirm('Are you sure?')"><i class="fa-solid fa-trash"></i></a>
                    </td>


                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h4 class="text-center my-5 fs-3">Your cart is empty.</h4>
        {% endif %}
    </div>

</div>

{% include 'userpage/footer.html' %}
{% endblock %}