{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>KB Cakes Nepal</title>
{% include 'userpage/header.html' %}
{% endblock %}


{% block main-content %}

<!-- start of slider -->
<div id="carouselExampleAutoplaying" class="carousel slide mb-2" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static '/images/banner1.jpg' %}" class="d-block w-100" height="100%" alt="images">
        </div>
        <div class="carousel-item">
            <img src="{% static '/images/banner2.jpeg' %}" class="d-block w-100" height="100%" alt="images">
        </div>
        <div class="carousel-item">
            <img src="{% static '/images/banner3.jpg' %}" class="d-block w-100" height="100%" alt="images">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- end of slider -->

<!-- start of product page -->
<div class="container my-4">
    <h2>Trending Bakery Items</h2>
    <hr>
    <div class="row row-cols-1 row-cols-md-4 g-4">
       
        {% for product in products %}
        <div class="col">
            <div class="card">
                <img src="/{{product.product_image}}" class="card-img-top" alt="image">
                <div class="card-body">
                    <h5 class="card-title">{{product.project_name | slice:'28'}}</h5>
                    <!-- <h5 class="card-title">Rs.{{product.product_price}}</h5> -->

                    <a href="/productdetails/{{product.id}}" class="btn btn-success">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container my-4">
    <h2>Customers Choice</h2>
    <hr>
    <div class="row row-cols-1 row-cols-md-4 g-4">
       
        {% for product in products %}
        <div class="col">
            <div class="card">
                <img src="/{{product.product_image}}" class="card-img-top" alt="image">
                <div class="card-body">
                    <h5 class="card-title">{{product.project_name}}</h5>
                    <!-- <h5 class="card-title">Rs.{{product.product_price}}</h5> -->

                    <a href="/productdetails/{{product.id}}" class="btn btn-success">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
        
        

<!-- end of product page  -->

{% include 'userpage/footer.html' %}
{% endblock %}