{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>Ecommerce-Product</title>
{% include 'userpage/header.html' %}
{% endblock %}


{% block main-content %}


<!-- start of product page -->
<div class="container my-5">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for product in products %}
        <div class="col">
            <div class="card">
                <img src="/{{product.product_image}}" class="card-img-top" alt="image">
                <div class="card-body">
                    <h5 class="card-title">{{product.project_name | slice:"28"}}</h5>
                    <h5 class="card-title">Rs.{{product.product_price}}</h5>

                    <a href="/productdetails/{{product.id}}" class="btn btn-success">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
        

<!-- end of product page  -->

{% include 'userpage/footer.html' %}
{% endblock %}